.App {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
}

#heading {
  width: 90%;
  display: flex;
  border: 1px solid black;
}
.tab {
  height: 50px;
  flex: 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  height: 50px;
  width: 90%;
  border: 1px solid black;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px; 
}
